<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Auto Insurance Losses</title>
    <link href="../../stylesheets/main.min.css" rel="stylesheet" />
    <link href="../../stylesheets/apps/auto-insurance.min.css" rel="stylesheet" />
    <!-- <link href="https://cdn.reflect.io/latest/reflect.css" rel="stylesheet" /> -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdn.reflect.io/latest/reflect.js"></script>
  </head>
  <body>
    <h1>Auto Insurance Losses</h1>
    <p>CUSTOM CONTROLS || THEMING</p>
    <p>Groups &amp; withColors() || withFilters() &amp; filter-bar</p>
    <p>Find trends in the data using withColors()</p>

    <div class="view-container">
      <div class="controls">
        <p>Regional filters: </p>
        <button type="button" value="West" class="region-btn">West</button>
        <button type="button" value="Midwest" class="region-btn">Midwest</button>
        <button type="button" value="South" class="region-btn">South</button>
        <button type="button" value="Northeast" class="region-btn">Northeast</button>
        <button type="button" value="" class="clear-btn">All</button>
      </div>
      <div id="view"></div>
    </div>

    <script type="text/javascript">

      var ui = new ReflectUI();

      function render() {
        ui.view(document.getElementById('view'), 'e46eKoNGQo6cqIaeoEwAHA');
      }

      ui.withFormatters({
        'Alcohol Impaired': function(d) {
          return d + '%';
        },
        'First Accident': function(d) {
          return d + '%';
        },
        'Speeding': function(d) {
          return d + '%';
        },
        'Hand Held Ban': function(d) {
          switch(true) {
            case d === 'All drivers':
              return 'Full ban';
              break;
            case d === 'Partial':
              return 'Partial ban';
              break;
            default:
              return 'No ban';
          }
        },
        'Texting Ban': function(d) {
          switch(true) {
            case d === 'All drivers':
              return 'Full ban';
              break;
            case d === 'Partial':
              return 'Partial ban';
              break;
            default:
              return 'No ban';
          }
        },
      });

      ui.withColors({
        'Texting Ban': {
          'No ban': '#70B6E3',
          'Partial': '#E3E270',
          'All drivers': '#D23B2F'
        },
        'Hand Held Ban': {
          'No ban': '#70B6E3',
          'Partial': '#E3E270',
          'All drivers': '#D23B2F'
        }
      });

      render();

      ui.on('bars-losses', 'render', function(data) {
        $('#e46eKoNGQo6cqIaeoEwAHA-1 rect').hover(function() {
          $('li:contains("0.00")').hide();
        });
      });

      ui.on('bars-penalty', 'render', function(data) {
        $('#e46eKoNGQo6cqIaeoEwAHA-3 rect').hover(function() {
          $('li:contains("0.00")').hide();
        });
      });

      $('.region-btn').click(function(e) {
        var region = {
          field: 'Region',
          op: '=',
          value: e.target.value,
          removable: true
        }

        ui.withFilters([
          region
        ]);

        render();
      });

      $('.clear-btn').click(function(e) {
        ui.withFilters([]);

        render();
      });


    </script>
  </body>
</html>
