html, body {
  background: #130021;
}

h4 {
  text-transform: capitalize;
  border-bottom: 1px solid rgba(255,255,255,.2);
  font-weight: 200;
}

label {
  font-weight: 600;
}

.sidebar label,
.sidebar h4 {
  color: white;
}

.view-container {
  background: #130021;
  padding: 10px;
  max-width: 1200px;
  margin: 50px auto 0 250px;
}

/* Navbar */
.navbar-brand,
.navbar-left a {
  line-height: 25px !important;
}

.navbar-left a.active {
  background: white;
  font-weight: 700;
}

.dropdown-toggle {
  text-decoration: none !important;
  background: transparent !important;
  display: none;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.dropdown-toggle img {
  height: 35px;
  width: auto;
  border-radius: 50%;
  border: 1px solid grey;
}

.dropdown-menu {
  left: 0 !important;
}

/* Sidebar */
.sidebar {
  position: fixed;
  width: 250px;
  padding: 60px 60px 30px 60px;
}

.sidebar .nav-group {
  padding-bottom: 30px;
}

.toggle {
  cursor: pointer;
}

@media (min-width: 750px) {
  .dropdown-toggle {
    display: inline-block;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 52px;
  top: 0;
  float: left;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  top: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #808080;
}

input:checked + .slider:before {
  -webkit-transform: translateY(26px);
  -ms-transform: translateY(26px);
  transform: translateY(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
