<header>
  <a href="https://reflect.io">
    <img class="logo" src="../../images/layout/logo-color.svg" alt="Reflect logo">
  </a>
  <p>examples</p>

  <!-- Toolbar -->
  <div class="toolbar">
    <div class="group">
      <div class="title"><p>Embedding</p></div>
      <div class="option-list">
        <div class="option"><p>Simple</p></div>
        <div class="option"><p>Advanced</p></div>
      </div>
    </div>
    <div class="group">
      <div class="title"><p>Interactions</p></div>
      <div class="option-list">
        <div class="option"><p>Parameters</p></div>
        <div class="option"><p>Filters</p></div>
      </div>
    </div>
    <div class="group">
      <div class="title"><p>Custom</p></div>
      <div class="option-list">
        <div class="option"><p>Components</p></div>
        <div class="option"><p>Controls</p></div>
      </div>
    </div>
  </div>
</header>
