//import fonts
@import url('https://fonts.googleapis.com/css?family=Lora');

//custom variables
$font-fam: 'Lora' !important;
$border-rad: 0px;
// $component-bg-color: black;
// $accent-color: #FFDD38;
// $view-title-color: white;
// $component-title-color: white;
// $metric-color: grey;

//REFLECT components variables
$font-family: $font-fam;
$border-radius: $border-rad;

//import REFLECT UI styles
@import "../../node_modules/@reflect/reflect-ui/sass/reflect-ui.scss";

//view container
.view-container {
  background-color: red;
  border-radius: $border-rad;
}

//viz container
.viz-container {
  border-radius: $border-rad;
}

//view title
.viz-header .viz-headline .viz-title {
  font-family: $font-fam;
}

//component titles
.viz-container h1, .viz-container h2, .viz-container h3, .viz-container h4, .viz-container h5, .viz-container h6 {
  font-family: $font-fam;
}

//metrics
.viz-metric .viz-metric-value {
  font-family: $font-fam;
}

//axis
.viz, .viz text {
  font-family: $font-fam;
}

//legend list items
.viz .viz-legend ul li {
  font-family: $font-fam;
}

//tooltip
.viz .viz-tooltip {
  font-family: $font-fam;
}

//tooltip wrapper
.viz .viz-tooltip .viz-wrapper {
  border-radius: $border-rad;
}

//button and misc font
.viz-button, .viz-container, .viz-container p {
  font-family: $font-fam;
}


// //custom color variables
// $view-bg-color: #47525F;
// $component-bg-color: #333F4E;
// $accent-color: #fafafa;
// $view-title-color: lightgrey;
// $component-title-color: lightgrey;
// $metric-color: #DA513D;
//
// //REFLECT variables
// $viz-palette-base: #DA513D;
//
// $viz-palette: (
//   0: $viz-palette-base,
//   1: darken($viz-palette-base, 10%),
//   2: darken($viz-palette-base, 20%),
//   3: darken($viz-palette-base, 30%),
//   4: darken($viz-palette-base, 40%),
//   5: darken($viz-palette-base, 50%),
//   6: darken($viz-palette-base, 60%),
//   7: darken($viz-palette-base, 70%),
//   8: darken($viz-palette-base, 80%),
//   9: darken($viz-palette-base, 90%),
//   10: darken($viz-palette-base, 15%),
//   11: darken($viz-palette-base, 25%)
// ) !default;
//
// $brand-primary:                  $accent-color;
// $border-color:                   rgba(255,255,255,.3) !default;
//
// //import REFLECT UI styles
// @import "../../node_modules/@reflect/reflect-ui/sass/reflect-ui.scss";
//
// .view-container {
//   background-color: $view-bg-color;
// }
//
// .viz {
//   color: lightgrey;
// }
//
// .viz-container, .viz-controls {
//   background-color: $component-bg-color;
// }
//
// .viz-title {
//   color: $component-title-color !important;
// }
//
// .viz-header .viz-headline .viz-title {
//   color: $view-title-color !important;
// }
//
// .viz-metric-value {
//   color: $metric-color !important;
// }
//
// .viz-loading-wrapper {
//   background-color: $component-bg-color !important;
//
//   .viz-loading {
//     border-color: rgba(255, 255, 255,.5);
//     border-top-color: $viz-palette-base;
//   }
// }
//
// .viz-filters {
//   background-color: $component-bg-color;
// }
//
// // dropdown
// .rc-menu .rc-menu-item a {
//   color: $component-bg-color;
// }
//
// .rc-menu .rc-menu-item a:hover {
//   color: $component-bg-color;
// }
//
// .rc-menu .rc-menu-item-selected a {
//   background-color: $component-bg-color;
//   color: white;
// }
