//import REFLECT UI styles
@import "../../node_modules/@reflect/reflect-ui/sass/reflect-ui.scss";

.view-container {
  background-color: #fff;
}

.viz-icon-plus:before {
  content: '+';
}

.viz-icon-cancel-circled:before {
  content: '\00D7';
}
