<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title id="app-title"></title>
    <link href="../../stylesheets/main.min.css" rel="stylesheet" />
    <link id="app-theme" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdn.reflect.io/latest/reflect.js"></script>
    <script src="../../javascripts/app-template.min.js"></script>
  </head>
  <body>
    <header>
      <a href="https://reflect.io">
        <img class="logo" src="../../images/reflect-logo-bw.svg" alt="Reflect logo">
      </a>
      <div id="app-header" />
    </header>

    <div class="toolbar">
      <div id="app-instruction"></div>
      <div class="controls">
        <!-- Create custom controls per app -->
        <button id="toggle-something">Some type of event</button>
      </div>
    </div>

    <!-- Where the view gets rendered -->
    <div class="view-container">
      <div id="view" />
    </div>

    <!-- REFLECT view -->
    <script type="text/javascript">

      //instantiate new instance
      var ui = new ReflectUI();

      //call to render the view
      function render() {
        ui.view(document.getElementById('view'), 'view-embed-key');
      }

      //call to apply changes
      function applySomething() {
        ui.withSomething({
          'Field': {
            'Name': 'Value'
          }
        });
      }

      //apply changes and render on page load
      applySomething();
      render();

      //do something on toolbar button click
      $('#do-something').click(function(e) {
        applySomething();
      });
    </script>
  </body>
</html>
