//custom color variables
$view-bg-color: #2E004D;
$component-bg-color: white;
$accent-color: #89428B;
$view-title-color: white;
$component-title-color: grey;
$metric-color: #89428B;

//REFLECT variables
$viz-palette-base: #9900FF;

$viz-palette: (
  0: $viz-palette-base,
  1: darken($viz-palette-base, 10%),
  2: darken($viz-palette-base, 20%),
  3: darken($viz-palette-base, 30%),
  4: darken($viz-palette-base, 40%),
  5: darken($viz-palette-base, 50%),
  6: darken($viz-palette-base, 60%),
  7: darken($viz-palette-base, 70%),
  8: darken($viz-palette-base, 80%),
  9: darken($viz-palette-base, 90%),
  10: darken($viz-palette-base, 15%),
  11: darken($viz-palette-base, 25%)
) !default;

$brand-primary:                  $accent-color;
$border-color:                   $accent-color !default;

//import REFLECT UI styles
@import "../../../node_modules/@reflect/reflect-ui/sass/reflect-ui.scss";


.view-container {
  background-color: $view-bg-color;
}

.viz-container, .viz-controls {
  background-color: $component-bg-color;
}

.viz-title {
  color: $component-title-color !important;
}

.viz-header .viz-headline .viz-title {
  color: $view-title-color !important;
}

.viz-metric-value {
  color: $metric-color !important;
}

.viz-loading-wrapper {
  background-color: $component-bg-color !important;

  .viz-loading {
    border-color: $accent-color;
    border-top-color: $viz-palette-base;
  }
}

.viz-filters {
  background-color: $component-bg-color;
}

.viz-icon-plus:before {
  content: '+';
}

.viz-icon-cancel-circled:before {
  content: '\00D7';
}
