//fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

//shadows
$button-box-shadow: 0.05556rem 0.05556rem 0.2222rem rgba(0, 0, 0, 0.22);
$card-box-shadow: .2rem .2rem .8rem rgba(0,0,0,0.05);
$card-hover-box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
$container-box-shadow: .5rem .3rem 2rem rgba(0,0,0,0.17);

//colors
$black: #404040;
$dark-grey: #888;
$medium-grey: #DEDEDE;
$grey: #F2F2F2;
$light-grey: #F6F6F6;
$blue: #269CFF;
$red: #FF2645;

//sizes
$mobile: 799px;

////feature colors
@mixin features {
  &.custom_colors {
    color: #E341D5;
  }
  &.custom_controls {
    color: #00AD39;
  }
  &.filters {
    color: turquoise;
  }
  &.formatters {
    color: #FACF13;
  }
  &.parameters {
    color: #FF03A6;
  }
  &.theming {
    color: #269CFF;
  }
  &.interactions {
    color: orange;
  }
  &.dates {
    color: #CC2645;
  }
  &.custom_components {
    color: #4475CC;
  }
}

//mixins
@mixin button-default {
  z-index: 99;
  font-size: .7rem;
  border: 1px solid $medium-grey;
  background-color: white;
  padding: 10px;
  box-shadow: $button-box-shadow;
}

@mixin border-default {
  border: 1px solid $medium-grey;
  border-radius: 0.2778rem;
}

@mixin border-oval() {
  border-radius: 1rem;
  border: 1px solid $medium-grey;
  box-shadow: none;
}

@mixin border-btm-default {
  border: 1px solid $medium-grey;
  border-bottom-left-radius: 0.2778rem;
  border-bottom-right-radius: 0.2778rem;
  border-top: none;
}

@mixin border-top-default {
  border: 1px solid $medium-grey;
  border-top-left-radius: 0.2778rem;
  border-top-right-radius: 0.2778rem;
}

//header
header {
  width: 100%;
  text-align: center;
  margin-top: 38px;
  margin-bottom: 30px;
}

.logo {
  width: 40px;
  height: auto;
  margin-bottom: 60px;
}

.fork-me{
  position: absolute;
  top: 80px;
  right: -100px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  width: 400px;
  background: $blue;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: white;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.lead {
  max-width: 600px;
  margin: 0 auto 50px;
}

.title::first-letter {
  text-transform: capitalize;
}

//resources bar
.resources {
  text-align: center;
  width: 100%;

  div {
    display: inline-block;
    margin: 0 10px 10px;
  }

  h6 {
    margin: 0;
  }

  p {
    color: $black;
    display: inline-block;
    margin: 0;
  }
}

//feature tags
.feature {
  @include button-default;
  @include border-oval;
  @include features;
  display: inline-block;
  text-transform: uppercase;
  margin: 3px 6px 0 0;
  font-size: .7rem;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  padding: 5px 10px 5px;
}

//dataset tags
.dataset a, p {
  position: relative;
  top: 1px;
}

//general
body {
  padding: 0;
  margin: 0;
}

.container {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding: 0 30px 100px;
  color: $grey;
  background-color: $light-grey;
  margin: 0 auto;
  letter-spacing: .02223rem;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  min-height: calc(100vh - 100px);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 1.778rem;
  color: $black;
}

h2 {
  color: $dark-grey;
  font-size: 1.15rem;
  line-height: 1.7;
  margin-bottom: 1.111rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

h6 {
  font-size: 0.7rem;
  color: $dark-grey;
  text-transform: uppercase;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  display: inline-block;
}

p {
  margin: .5rem 0 1rem;
}

*:focus {
  outline: none;
}

a {
  color: #269cff;
  text-decoration: none;
}

button {
  &:hover {
    cursor: pointer;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  padding: 0;
  background: $medium-grey;
  background: -moz-linear-gradient(0deg, $medium-grey, $medium-grey 60%, $grey);
  background: -webkit-gradient(linear, 0 0, 100% 0, from($medium-grey), color-stop(60%, $medium-grey), to($grey));
}

//set smaller width for examples
.toolbar, .view-container, #app-header, #app-navigation {
  max-width: 800px;
  margin: 0 auto;
}

//app container
.view-container {
  @include border-btm-default;
  padding: 1rem;
  min-height: 400px;
  overflow: hidden;

  @media (max-width: $mobile) {
    padding: 5px;
  }
}

//toolbar
.toolbar {
  @include border-top-default;
  background-color: $grey;
  padding: 1rem;
  overflow: auto;

  @media (max-width: $mobile) {
    text-align: center;

    .controls {
      float: none;
    }
  }
}

//user prompt
#app-instruction {
  display: inline-block;

  @media (max-width: $mobile) {
    display: none;
  }
}

.instruction, .controls {
  display: inline-block;
  color: $dark-grey;

  strong {
    color: $blue;
    background-color: white;
    padding: 2px 8px;
    border-radius: 5rem;
  }
}

.controls {
  float: right;
  margin: 8px auto;

  button, select, input {
    @include border-default;
    @include button-default;
    color: $dark-grey;
    font-family: 'Open Sans',sans-serif;

    &.active {
      color: white;
      background-color: $blue;
      border-color: $blue;
    }

    &.alert {
      color: white;
      background-color: $red;
    }

    &#major-btn {
      text-transform: capitalize;
    }

    span {
      color: red;
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input {
    width: 160px;

    &.dateInput {
      width: 140px;
    }
  }
}

#app-navigation {
  margin: 40px auto 20px;
  height: 40px;
  width: 100%;

  .prev {
    float: left;
  }

  .next {
    float: right;
  }

  .navTitle, .defaultTitle {
    display: inline-block;
    padding: 0 5px;
    vertical-align: super;
    font-size: 1.15rem;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  strong {
    font-size: 20px;
    position: relative;
    top: -6px;
  }

  @media (max-width: $mobile) {
    text-align: center;
  }
}

//homepage cards
.card-container {
  width: 100%;
  margin: 80px auto 0;
  text-align: center;
  max-width: 1200px;

  //reduce max-width with card line break
  @media (max-width: 1237px) {
    max-width: 800px;
  }
}

.card-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

//card-fillers force grid with any number of apps
.card-wrapper, .card-filler {
  width: 350px;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 auto;

  //a little smaller than mobile for better breaklines
  @media (max-width: 750px) {
    padding: 0;
  }
}

.card {
  text-align: left;
  position: relative;
  margin-bottom: 50px;
}

//reduce opacity of neighboring cards on hover
.card.inactive img {
  opacity: .5;
  -webkit-filter: grayscale(10%);
  filter: grayscale(10%);
}

.card .image-wrapper {
  @include border-default;
  max-height: 190px;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: $card-box-shadow;
}

.card img {
  width: 100%;
  height: auto;
}

.card .title {
  color: $black;
}

.card .description {
  color: $dark-grey;
  line-height: 1.5em;
}

//helpers
.hidden {
  display: none !important;
}

@media (max-width: $mobile) {
  .desktop-only {
    display: none;
  }
}

@media (min-width: 800px) {
  .mobile-only {
    display: none;
  }
}

//footer
.footer {
  background-color: $medium-grey;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 1.15rem;
  display: flex;
  align-items: center;

  .link-list {
    margin: 0 auto;
    padding: 0 1.65rem;

    p {
      color: $dark-grey;
    }

    a.mobile-only:not(:first-of-type) {
      padding-left: 50px;
    }
  }
}

// Custom demo
.custom-report {
  .resources {
    display: none;
  }

  .view-container {
    border-top: 1px solid #DEDEDE;
    border-radius: .2778rem;
  }
}

#reset-btn {
  @include border-default;
  @include button-default;
  color: $dark-grey;
  font-family: 'Open Sans',sans-serif;
}

//REFLECT
// Bars for klout report
.klout-report {
  .viz-bar .viz-color-0 .viz-bar-rect:nth-of-type(4),
  .viz-bar.viz-focused .viz-color-0.viz-active .viz-bar-rect:nth-of-type(4).viz-opened {
    fill: #265bff;
    stroke: #265bff;
  }
  .viz-bar .viz-color-0 .viz-bar-rect:nth-of-type(3),
  .viz-bar.viz-focused .viz-color-0.viz-active .viz-bar-rect:nth-of-type(3).viz-opened {
    fill: #3226ff;
    stroke: #3226ff;
    &.focussed {
      fill: #3226ff;
      stroke: #3226ff;
    }
  }
  .viz-bar .viz-color-0 .viz-bar-rect:nth-of-type(2),
  .viz-bar.viz-focused .viz-color-0.viz-active .viz-bar-rect:nth-of-type(2).viz-opened {
    fill: #7326ff;
    stroke: #7326ff;
    &.focussed {
      fill: #7326ff;
      stroke: #7326ff;
    }
  }
  .viz-bar .viz-color-0 .viz-bar-rect:nth-of-type(1),
  .viz-bar.viz-focused .viz-color-0.viz-active .viz-bar-rect:nth-of-type(1).viz-opened {
    fill: #b426ff;
    stroke: #b426ff;
    &.focussed {
      fill: #b426ff;
      stroke: #b426ff;
    }
  }
}

.view-container {
  background-color: white;
}

.viz-view-container .viz-view-message-container {
  position: relative !important;
  margin-top: 100px;

  //give extra notice for demonstration sake
  &:after {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 80px;
    color: $blue;
    content: 'View is locked! Please authenticate.'
  }
}



.viz-icon-plus:before {
  content: '+' !important;
}

.viz-icon-cancel-circled:before {
  content: '\00D7' !important;
}

@media (max-width: $mobile) {
  //hide these elements
  .viz-legend, .viz-controls, .viz-options {
    width: 0 !important;
    padding: 0 !important;
    display: none;
  }
}

@media (max-width: 500px) {
  //center tooltips
  .viz-tooltip {
    text-align: center;
    transform: translate(-50%, -50%);
    top: -7% !important;
    left: 50% !important;
    z-index: 99;
    width: 100%;
  }

  //allow tooltip to overlap other components
  .viz-visualization {
    overflow: visible !important;
    z-index: 0 !important;
  }
}
