@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

//shadows
$card-box-shadow: .2rem .2rem .8rem rgba(0,0,0,0.05);
$card-hover-box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
$container-box-shadow: .5rem .3rem 2rem rgba(0,0,0,0.17);

//colors
$black: #404040;
$dark-grey: #888;
$grey: #F2F2F2;
$light-grey: #F6F6F6;

//mixins
@mixin button-default {
  font-size: .8rem;
  border: 1px solid $dark-grey;
  background-color: white;
  cursor: pointer;
  padding: 2px 6px 3px;
}

@mixin feature($color) {
  color: $color;
}

@mixin border-default {
  border: 1px solid $dark-grey;
  border-radius: 0.2778rem;
}

@mixin border-oval() {
  border-radius: 1rem;
  border: 1px solid $grey;
}

@mixin border-btm-default {
  border: 1px solid $dark-grey;
  border-bottom-left-radius: 0.2778rem;
  border-bottom-right-radius: 0.2778rem;
  border-top: none;
}

@mixin border-top-default {
  border: 1px solid $dark-grey;
  border-top-left-radius: 0.2778rem;
  border-top-right-radius: 0.2778rem;
}

//header
header {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.logo {
  width: 40px;
  height: auto;
  margin-bottom: 60px;
}

.lead {
  max-width: 600px;
  margin: 0 auto 50px;
}

.resources {
  text-align: left;
  display: flex;
  width: 100%;

  div {
    justify-content: space-between;
  }
}

.features a {
  @include button-default;
  @include border-oval;

  &.colors {
    @include feature(red);
  }
  &.filters {
    @include feature(blue);
  }
  &.interactions {
    @include feature(orange);
  }
}

//general
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding: 0 30px;
  color: $grey;
  background-color: $light-grey;
  max-width: 800px;
  margin: 38px auto;
  letter-spacing: .02223rem;
  font-weight: 400;

  @media (max-width: 799px) {
    margin: 17px auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
}

h1 {
  font-size: 1.778rem;
  color: $dark-grey;
  font-weight: 400;
}

h2 {
  color: $dark-grey;
  font-size: 1.15rem;
  font-weight: normal;
  line-height: 1.7;
  margin-bottom: 1.111rem;
}

h6 {
  font-size: 0.7rem;
  color: $dark-grey;
  text-transform: uppercase;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  display: inline-block;
}

a {
  color: #269cff;
  text-decoration: none;
}

button {
  &:hover {
    cursor: pointer;
  }
}

//main content container
.view-container,
.card-container {
  @include border-btm-default;
}

.view-container {
  padding: 20px;
  min-height: 400px;
}

//Toolbar
.toolbar {
  @include border-top-default;
  background-color: $grey;
  padding: 1rem;
}

.controls {
  float: right;

  button {
    @include border-default;
    @include button-default;
    color: $dark-grey;
  }
}

.instruction, .controls {
  display: inline-block;
  color: $dark-grey;
}


//Cards

//
// .card-container {
//   display: flex;
//   flex-flow: row wrap;
//   justify-content: space-around;
//   height: 100%;
//   margin-top: 80px;
//   text-align: center;
//   padding: 35px;
// }
//
// //used to force grid with any number of apps
// .card-filler {
//   padding: 0 35px;
//   width: 300px;
//   display: inline-block;
//   position: relative;
// }
//
// .card {
//   @include border-default;
//   display: inline-block;
//   box-shadow: $card-box-shadow;
//   width: 300px;
//   height: 300px;
//   position: relative;
//   overflow: hidden;
//   margin: 35px;
//
//   &:active,
//   &:hover,
//   &:focus {
//     box-shadow: $card-hover-box-shadow;
//   }
//
//   &.on-hover img {
//     opacity: .7;
//   }
// }
//
// .card .title {
//   text-transform: capitalize;
//   color: #fff;
// }
//
// // guarantee image does not show behind rounded corners
// .card .image-wrapper {
//   max-height: 250px;
//   overflow: hidden;
// }
//
// .card img {
//   border-bottom-left-radius: .2778rem;
//   border-bottom-right-radius: .2778rem;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: auto;
// }
//
// .card .lead,
// .card .description {
//   background-color: #fff;
//   padding: 10px;
// }
//
// .card .lead {
//   border-top-right-radius: 0.2778rem;
//   border-top-left-radius: 0.2778rem;
//   text-align: center;
//   background-color: #269cff;
// }
//
// .card .description {
//   border-bottom-right-radius: 0.2778rem;
//   border-bottom-left-radius: 0.2778rem;
//   text-align: left;
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }
