@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

//shadows
$card-box-shadow: .2rem .2rem .8rem rgba(0,0,0,0.05);
$card-hover-box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
$container-box-shadow: .5rem .3rem 2rem rgba(0,0,0,0.17);

//colors
$black: #404040;
$dark-grey: #888;
$grey: #F2F2F2;
$light-grey: #F6F6F6;
$blue: #269CFF;

//mixins
@mixin button-default {
  font-size: .8rem;
  border: 1px solid $dark-grey;
  background-color: white;
  cursor: pointer;
  padding: 2px 10px 3px;
}

@mixin feature($color) {
  color: $color;
}

@mixin border-default {
  border: 1px solid $dark-grey;
  border-radius: 0.2778rem;
}

@mixin border-oval() {
  border-radius: 1rem;
  border: 1px solid $grey;
}

@mixin border-btm-default {
  border: 1px solid $dark-grey;
  border-bottom-left-radius: 0.2778rem;
  border-bottom-right-radius: 0.2778rem;
  border-top: none;
}

@mixin border-top-default {
  border: 1px solid $dark-grey;
  border-top-left-radius: 0.2778rem;
  border-top-right-radius: 0.2778rem;
}

//header
header {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.logo {
  width: 40px;
  height: auto;
  margin-bottom: 60px;
}

.lead {
  max-width: 600px;
  margin: 0 auto 50px;
}

.resources {
  text-align: left;
  display: flex;
  width: 100%;

  div {
    justify-content: space-between;
    margin: 0 auto;
  }
}

.features a, .features p {
  @include button-default;
  @include border-oval;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 2px;
  font-size: .75rem;

  &.custom_colors {
    @include feature(#E341D5);
  }
  &.custom_controls {
    @include feature(#00AD39);
  }
  &.filters {
    @include feature(turquoise);
  }
  &.formatters {
    @include feature(#FFDB49);
  }
  &.interactions {
    @include feature(orange);
  }
}

//general
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding: 0 30px;
  color: $grey;
  background-color: $light-grey;
  max-width: 1200px;
  margin: 38px auto;
  letter-spacing: .02223rem;
  font-weight: 400;

  @media (max-width: 799px) {
    margin: 17px auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 1.778rem;
  color: $black;
}

h2 {
  color: $dark-grey;
  font-size: 1.15rem;
  line-height: 1.7;
  margin-bottom: 1.111rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

h6 {
  font-size: 0.7rem;
  color: $dark-grey;
  text-transform: uppercase;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  display: inline-block;
}

p {
  margin: .5rem 0 1rem;
}

a {
  color: #269cff;
  text-decoration: none;
}

button {
  &:hover {
    cursor: pointer;
  }
}

.toolbar, .view-container, #app-header {
  max-width: 800px;
  margin: 0 auto;
}

//app container
.view-container {
  @include border-btm-default;
  padding: 1rem;
  min-height: 400px;
}

//toolbar
.toolbar {
  @include border-top-default;
  background-color: $grey;
  padding: 1rem;
}

.controls {
  float: right;
  margin-top: 6px;

  button, select {
    @include border-default;
    @include button-default;
    color: $dark-grey;

    &.active {
      color: white;
      background-color: $blue;
    }

    &#major-btn {
      text-transform: capitalize;
    }

    span {
      color: red;
    }
  }
}

#app-instruction {
  display: inline-block;
}

.instruction, .controls {
  display: inline-block;
  color: $dark-grey;
}

//cards
.card-container {
  width: 100%;
  margin-top: 80px;
  text-align: center;
}

.card-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

//card-fillers force grid with any number of apps
.card, .card-filler {
  width: 350px;
  justify-content: space-between;
  margin: 0 auto 50px;
  text-align: left;
  position: relative;
  padding: 0 20px;
}

.card.on-hover img {
  opacity: .7;
}

.card .image-wrapper {
  @include border-default;
  max-height: 190px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.card img {
  width: 100%;
  height: auto;
}

.card .title {
  color: $black;
}

.card .description {
  color: $dark-grey;
}
