$viz-palette-base: #164D71;

$viz-palette: (
  0: $viz-palette-base,
  1: lighten($viz-palette-base, 10%),
  2: lighten($viz-palette-base, 15%),
  3: lighten($viz-palette-base, 20%),
  4: lighten($viz-palette-base, 25%),
  5: lighten($viz-palette-base, 30%),
  6: lighten($viz-palette-base, 35%),
  7: lighten($viz-palette-base, 40%),
  8: lighten($viz-palette-base, 45%),
  9: lighten($viz-palette-base, 50%),
  10: lighten($viz-palette-base, 55%),
  11: lighten($viz-palette-base, 60%)
) !default;

// Reflect Styles
@import "../../../node_modules/@reflect/reflect-ui/sass/reflect-ui.scss";

@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

.view-container {
  background-color: teal;
  position: relative;
}

.controls {

  p {
    display: inline-block;
    color: black;
    vertical-align: bottom;
  }

  button {
    padding: 5px 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 5px;

    &:hover {
      background-color: lighten(#164D71, 20%);
    }
  }
}

#view {
  .viz-headline .viz-title {
    color: #fff !important;
  }

  .viz-title {
    font-size: 20px !important;
  }

  .viz-filters {
    background-color: white;
  }

  .viz-icon-plus:before {
    content: '+';
  }

  .viz-icon-cancel-circled:before {
    content: '\00D7';
  }

  .viz-container, .viz-container p,
  .viz .viz-legend ul li,
  .viz-title {
    font-family: 'Anonymous Pro', monospace !important;
  }

  .viz-metric-value {
    color: $viz-palette-base;
    font-family: 'Anonymous Pro', monospace !important;
  }
}
