$viz-palette-base: #FF775D;

$viz-palette: (
  0: $viz-palette-base,
  1: adjust-hue($viz-palette-base, 18 * 1),
  2: adjust-hue($viz-palette-base, 18 * 2),
  3: adjust-hue($viz-palette-base, 18 * 3),
  4: adjust-hue($viz-palette-base, 18 * 4),
  5: adjust-hue($viz-palette-base, 18 * 5),
  6: adjust-hue($viz-palette-base, 18 * 6),
  7: adjust-hue($viz-palette-base, 18 * 7),
  8: adjust-hue($viz-palette-base, 18 * 8),
  9: adjust-hue($viz-palette-base, 18 * 9),
  10: adjust-hue($viz-palette-base, 18 * 10),
  11: adjust-hue($viz-palette-base, 18 * 11)
) !default;

// Reflect Styles
@import "../../../node_modules/@reflect/reflect-ui/sass/reflect-ui.scss";

.view-container {
  background-color: #F0F0F0;
  border: 2px solid #3E6C85;
  position: relative;
}

.disclaimer {
  position: absolute;
  right: 20px;
  top: 35px;
  z-index: 99;
  font-size: 12px;
  margin-left: 5px;
  padding: 0 5px;

  span {
    color: #FF775D;
  }
}

#view, #view2 {
  .react-grid-item {
    background-color: #FDFDFD;
    -webkit-box-shadow: 2px 2px 13px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 2px 13px 1px rgba(0,0,0,0.15);
    box-shadow: 2px 2px 13px 1px rgba(0,0,0,0.15);
  }

  .viz-metric-value {
    color: #3E6C85;
  }
}

// style top kpi
#_yp5RyjnSdazrPqSN9DslA-3,
#_yp5RyjnSdazrPqSN9DslA-4,
#wh9HHUVETR-YwdTRuws4Ww-3,
#wh9HHUVETR-YwdTRuws4Ww-4 {
  text-align: center;
  background-color: #3E6C85;
  border-color: #3E6C85;
  color: grey;

  .viz-title {
    color: lightgrey !important;
  }

  .viz-metric-value {
    color: white;
  }
}

// gender bar tooltip
#wh9HHUVETR-YwdTRuws4Ww-1 .viz-multi-series {
  .viz-series-indicator {
    background: pink;
  }

  &:last-of-type .viz-series-indicator {
    background: lightblue;
  }
}

// dropdown
.rc-dropdown-label-text {
  color: darken(adjust-hue($viz-palette-base, 18 * 2),20%);
}

.rc-dropdown-toggle .rc-icon {
  fill: darken(adjust-hue($viz-palette-base, 18 * 2),20%);
}

.rc-menu .rc-menu-item {
  a {
    color: #3E6C85;
  }

  &:hover a {
    background-color: darken(adjust-hue($viz-palette-base, 18 * 2),20%);
  }

  &.rc-menu-item-selected a {
    background-color: #3E6C85;
    color: white;
  }
}

.controls-wrapper {
  text-align: center;
}

#industry-controls, #concentration-controls {
  display: inline-block;

  p {
    color: #3E6C85;
    font-size: 20px;
    padding: 5px;
    display: inline-block;
    height: 28px;
    padding: 5px;
    padding-left: 10px;
    width: auto;
    background-color: #FDFDFD;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 1px solid #3E6C85;
    text-transform: capitalize;
    -webkit-box-shadow: 2px 2px 13px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 2px 13px 1px rgba(0,0,0,0.15);
    box-shadow: 2px 2px 13px 1px rgba(0,0,0,0.15);
  }
}

#concentration-controls {
  margin-left: 20px;
}

select {
  border: none;
  font-size: 20px;
  height: 38px;
  padding: 5px;
  width: auto;
  background-color: #3E6C85;
  color: white;
  margin-bottom: 16px;
  font-family: 'Open Sans',sans-serif;
  -webkit-box-shadow: 2px 2px 13px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 2px 13px 1px rgba(0,0,0,0.15);
  box-shadow: 2px 2px 13px 1px rgba(0,0,0,0.15);
}

label {
  font-size: 34px;
  padding: 5px;
  display: block;
  color: #3E6C85;
}

button {
  color: darken(adjust-hue($viz-palette-base, 18 * 2),20%);
  position: relative;
  margin-left: 10px;
  margin-right: 5px;
  border: none;
  background: transparent;
  font-size: 20px;

  &:hover {
    cursor: pointer;
  }
}

hr {
  border-color: #3E6C85;
  margin-bottom: 50px;
}
