$viz-palette-base: lightgrey;

$viz-palette: (
  0: $viz-palette-base,
  1: darken($viz-palette-base, 10%),
  2: darken($viz-palette-base, 20%),
  3: darken($viz-palette-base, 30%),
  4: darken($viz-palette-base, 40%),
  5: darken($viz-palette-base, 50%),
  6: darken($viz-palette-base, 60%),
  7: darken($viz-palette-base, 70%),
  8: darken($viz-palette-base, 80%),
  9: darken($viz-palette-base, 90%),
  10: darken($viz-palette-base, 15%),
  11: darken($viz-palette-base, 25%)
) !default;

// Reflect Styles
@import "../../../node_modules/@reflect/reflect-ui/sass/reflect-ui.scss";

$accent-color: #FFDD38;

.view-container {
  background-color: black;
  border-color: black;
}

#view {
  .viz-container, .viz-controls {
    background-color: black;
  }

  .viz-container {
    border-color: $accent-color;

    &.viz-donut {
      border-top-color: black;
      border-bottom-color: black;
      border-radius: 0;
    }
  }

  .viz-title {
    color: white !important;
  }

  .viz-metric-value {
    color: grey;
  }

  // dropdown
  .rc-dropdown-label-text {
    color: $accent-color;
  }

  .rc-icon {
    fill: $accent-color;
  }

  .viz-loading-wrapper {
    background-color: black;

    .viz-loading {
      border-color: $accent-color;
      border-top-color: lightgrey;
    }
  }
}

.rc-menu .rc-menu-item {
  a {
    color: black;
  }

  &:hover a {
    background-color: grey;
  }

  &.rc-menu-item-selected a {
    background-color: lightgrey;
    color: white;
  }
}
